{% extends "base.html" %}

{% block title %}
<p>Party eintragen</p>
{% endblock %}

{% block content %}
{% url add_party as action_url %}
	<a class="button" href="{% url add_club %}">
	<button>Club hinzufügen</button>
	</a>
<form action="{{ action_url }}" method="post" enctype="multipart/form-data">
	<table>
		{{ form.as_table }}
	</table>
	{% csrf_token %}
	{{ form.slug }}
	<p><input type="submit" value="Speichern"/></p>
</form>
<a href="{% url party_list %}">zurück zur Übersicht</a>
{% endblock %}